h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

p{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

img{
    width: 550px;
    height: 500px;
    margin-left: auto;
    padding-top: 3%;
    padding-right: 10%;
}

.lodgeName{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 700%;
    color: white;
    text-align: center;
}

.topBanner{
    background-color: black;
    width: 100%;
    height: 60%;
    display: inline-flex;
}

.lodgeContainer{
    width: fit-content;
    height: fit-content;
    padding-left: 10%;
    padding-top: 6%;
    
}

.cityName{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;
    text-align: center;
}




