h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

p{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

img{
    width: 550px;
    height: 500px;
    margin-left: auto;
    padding-top: 3%;
    padding-right: 10%;
}

.lodgeName{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 700%;
    color: white;
    text-align: center;
}

.topBanner{
    background-color: black;
    width: 100%;
    height: 60%;
    display: inline-flex;
}

.lodgeContainer{
    width: fit-content;
    height: fit-content;
    padding-left: 10%;
    padding-top: 6%;
    
}

.cityName{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;
    text-align: center;
}

a.button3{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border: 2px solid black;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color: black;
    text-align:center;
    transition: all 0.2s;
    border-color: black;
    transform: scale(2);
    width: 10em;
}
    
a.button3:hover{
    background-color:white;
    color: black;
    transform: scale(2.5);
}

.floatButtons{
    float: left; 
    width: 50%; 
    text-align: center;
}

